{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'static/css/main.css' %}">

<div class="container-fluid" style="min-height: 87vh;">
    <div class="container-fluid" style="background-color: tomato;">
        <img src="../media/uploads/wallpaper.jpg" alt="" style="width: 50%; margin-left: 25%;;">
      </div>
    <h3 style="margin: 16px;">Category All</h3>
    <div class="row">

        {% for cat in context.categoryid %}
        {% if cat.is_active%}
        <div class="col-lg-3" style="margin-bottom:4px;">
            <div class="box-element product text-center" style="height: 350px;">
                <a> <img src="{{cat.image.url}}" alt="" class="img-thumbnail mx-auto d-block"
                        style="height: 200px;"></a>
                <a href="{% url 'category' pk=cat.id %}"><strong>{{cat.name}} </strong></a>
                <p>{{cat.categoriesdetail}}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>


    <h3 style="margin: 16px;">Recommend</h3>
    <div class="row">
        {% if context.product %}
        {% for cat in context.product %}
        <div class="col-lg-3" style="margin-bottom:4px;">
            <div class="box-element product text-center">
                <a> <img src="{{cat.image.url}}" alt="" class="img-thumbnail mx-auto d-block"
                        style="height: 200px;"></a>
                <a><strong>{{cat.name}} </strong></a>
                <p>{{cat.categoriesdetail}}</p>
                <a class="btn btn-outline-warning" href="{% url 'productdetails' pk=cat.pk  product=cat.id%}">View</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    

</div>

{% endblock %}