{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="container">
    <h3 style="margin: 16px;">Category All</h3>
    <div class="row">

        {% for cat in context.category %}
        <div class="col-lg-3" style="margin-bottom:4px;">
            <div class="box-element product">
                <a> <img src="{{cat.image.url}}" alt="" class="img-thumbnail mx-auto d-block"
                        style="height: 200px;"></a>
                <a style=""><strong>{{cat.name}} </strong></a>
                <p>{{cat.categoriesdetail}}</p>

            </div>

        </div>
        {% endfor %}    
        
    </div>


    <h3 style="margin: 16px;" >Recommend</h3>
    <div class="row">

        {% for cat in context.product %}
        <div class="col-lg-3" style="margin-bottom:4px;">
            <div class="box-element product">
                <a> <img src="{{cat.image.url}}" alt="" class="img-thumbnail mx-auto d-block"
                        style="height: 200px;"></a>
                <a style=""><strong>{{cat.name}} </strong></a>
                <p>{{cat.categoriesdetail}}</p>

            </div>

        </div>
        {% endfor %}  

        
    </div>

</div>

{% endblock %}